In [1]:
import pandas as pd

In [2]:
titanic_df = pd.read_csv('datasets/titanic_processed.csv')
titanic_df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,1,3,0,19.0,0,0,7.8792,0,1,0
1,0,3,1,16.0,0,0,8.0500,0,0,1
2,0,3,1,24.0,0,0,8.0500,0,0,1
3,0,2,1,24.0,0,0,10.5000,0,0,1
4,1,1,0,60.0,1,0,75.2500,1,0,0

In [3]:
titanic_df.shape

(712, 10)

In [6]:
from sklearn.model_selection import train_test_split

X = titanic_df.drop('Survived', axis=1)
Y = titanic_df['Survived']

x_train, x_test, y_train, y_test = train_test_split(X, Y,  test_size=0.2)
x_train.shape

(569, 9)

In [7]:
from sklearn.linear_model import LogisticRegression

logistic_model = LogisticRegression(penalty='l2', C=1.0, solver='liblinear').fit(x_train, y_train)

In [10]:
y_pred = logistic_model.predict(x_test)
y_pred.shape

(143,)

In [12]:
pred_results = pd.DataFrame({'y_test': y_test, 'y_pred': y_pred})
pred_results.head()

     y_test  y_pred
483       0       0
123       1       0
476       0       1
402       1       1
665       0       0

In [13]:
titanic_crosstab = pd.crosstab(pred_results.y_pred, pred_results.y_test)
titanic_crosstab

y_test   0   1
y_pred
0       74  23
1        5  41

In [14]:
from sklearn.metrics import accuracy_score, precision_score, recall_score

acc = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)

print(acc, precision, recall)

0.8041958041958042 0.8913043478260869 0.640625